* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header_pic {
    width: 100px;

}

h1 {
    width: 100%;
    background-color: darkolivegreen;
    color: white;
    text-align: center;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    background-color: lightpink;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 1rem;
    flex-wrap: wrap;
}

.nav-item {
    flex: 1;
    margin: 2px;
    padding: 2px;
    border: 4px darkblue;
    background-color: lightblue;
    text-align: center;
}